/* Variables y Estilos Base */
:root {
    --color-primary: #686470;
    /* Morado Oscuro (Principal) */
    --color-secondary: #c7c3cf;
    /* Morado Claro (Acento) */
    --color-text-dark: #333333;
    --color-white: #ffffff;
    --color-sidebar-bg: #3a3f57;
    /* Fondo gris oscuro para sidebar */
    --color-table-header: #493fa1bd;
    /* Color de encabezado de tabla */
    --color-action-button-primary: #007bff;
    /* Azul para botones de acción */
    --color-action-button-hover: #0056b3;
    --color-delete-button: #dc3545;
    /* Rojo para eliminar */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;

    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
}

/* ---------------------------------------------------- */
/* Header y Navbar */
/* ---------------------------------------------------- */

header {
    background-color: #000000;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
}

.content-logo {
    display: flex;
    border: 1px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    box-shadow: 6px 4px 8px rgba(236, 236, 236, 0.486);
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 40px;
    color: var(--color-white);
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /* Reducido para mejor consistencia en el header */
    gap: 0;
}

.nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s ease;
    display: block;
    padding: 5px 0;
}

.logout-button {
    display: flex;
    /* border: 1px solid black; */
    /* height: 50px; */
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    text-decoration: none;
    /* overflow: hidden; */
    padding: 7px;
    /* width: 20px; */
    transition: all 0.3s ease;
    box-shadow: 8px 4px 6px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------- */
/* Layout Principal (Sidebar + Main Content) */
/* ---------------------------------------------------- */


.container-wrapper {
    display: flex;
    background-color: #f4f4f9;
    height: 100%;

}

/* Sidebar */
.sidebar {
    max-width: 250px;
    width: 20%;
    background-color: white;
    color: black;
    padding: 20px 0 0 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar_profile-header {
    text-align: center;
    padding: 15px 0 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.973);
}

.sidebar_profile-header #artistName {
    font-weight: bold;
    font-size: 20px;
}

.sidebar-nav {
    flex-grow: 1;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 20px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.nav-item a:hover {
    background-color: rgba(146, 139, 139, 0.651);
}

/* Estilo para todos los iconos dentro de los enlaces de la barra lateral */
.sidebar-links .icon {
    margin-right: 10px;
    font-size: 24px;
}

/* Contenido Principal */
.content-main {
    flex-grow: 1;
    width: 80%;
}

.page-title {
    font-size: 2em;
    color: var(--color-primary);
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}

.page-subtitle {
    color: #666;
    margin-bottom: 30px;
    margin-top: 8px;
    text-align: center;
    display: block;
}


.page-title {
    font-size: 2em;
    color: var(--color-primary);
    margin-bottom: 5px;
}


/* ---------------------------------------------------- */
/* Panel de Listado de Eventos */
/* ---------------------------------------------------- */

.events-list-panel {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    /* Estilos para que el formulario de perfil y creación se centren y se vean bien */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.panel-header {

    padding: 20px 30px;
    border-bottom: 1px solid #000000;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.panel-header h3 {
    color: var(--color-white);
    font-size: 1.4em;
    margin: 0;
}

/* Botón "Crear Evento" en el panel de listado */
.btn-primary-small {
    background-color: #000000;
    color: var(--color-white);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.btn-primary-small:hover {
    background-color: rgb(172, 168, 161);
}

/* ---------------------------------------------------- */
/* Estilos de Tabla */
/* ---------------------------------------------------- */

.data-table {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.event-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.678);
    /* border-radius: 20px; */
    box-shadow: 8px 2px 10px rgba(0, 0, 0, 0.39);
    margin: 10px;
    height: 500px;
    width: 300px;
    padding-bottom: 5px;
}

.event-row:hover {
    background-color: #d7d5db;
}

.flyer-cell {

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flyer-img {
    width: 100%;
    height: 100%;
}


.action-button {
    background-color: var(--color-action-button-primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    transition: all 0.3s ease;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.action-button i {
    font-size: 1em;
}

.action-button:hover {
    background-color: var(--color-action-button-hover);
}

.action-button.delete-btn {
    background-color: var(--color-delete-button);
}

.action-button.delete-btn:hover {
    background-color: #bd2130;
}

.no-records-row {
    text-align: center;
    padding: 40px !important;
    color: #000000;
}


/* Estilos del Formulario de Edición */
.event-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: var(--color-white);
    margin-top: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group.full-width {
    flex: none;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-text-dark);
    font-size: 0.95em;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="url"],
input[type="number"],
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 2px rgba(104, 100, 112, 0.2);
}

textarea {
    resize: vertical;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 10px;
}

.btn-submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #8350e2;
}

.btn-cancel {
    background-color: #6c757d;
    color: var(--color-white);
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #a1acb4;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
    width: 100%;
    display: flex;
    bottom: 0;
}



.oculto {
    display: none;
}