.content-logo {
    display: flex;
    border: 1px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    box-shadow: 6px 4px 8px rgba(236, 236, 236, 0.486);
}



.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    display: flex;
    /* border: 1px solid black; */
    /* height: 50px; */
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    text-decoration: none;
    /* overflow: hidden; */
    gap: 12px;
    padding: 13px;
    /* width: 20px; */
    transition: all 0.3s ease;
    box-shadow: 8px 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.3);
}

.content-home {
    display: flex;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.home {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000000;



    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 20px 0; */
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
}

.content-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto 0px auto;
    gap: 20px;
    width: 88%;
    align-items: center;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 20px auto;
    width: 100%;
    align-items: center;
}

.title {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.subtitle {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    max-width: 600px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    width: 100%;
    align-items: center;
}

.events-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    align-items: center;
    background-color: rgba(209, 49, 49, 0);
    /* padding: 30px; */
    box-shadow: 12px 20px 20px rgba(0, 0, 0, 0.603);
    margin-top: 30px;
}

.events-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.events_header {

    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    align-items: center;
    padding: 20px;


}


.total {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
}


.entry_mode {
    border-radius: 12%;
    background-color: transparent;
    border: 1px solid #3f161600;
    padding: 5px;
    font-size: 18px;
    color: rgb(148, 143, 143);
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    flex: 1;
    align-items: center;
}

.form-group button {

    margin-left: 20px;
    border: 1px solid #635e5e;
    padding: 8px 15px;
    background-color: transparent;
    color: white;
    border-radius: 12px;
}

.header-row {
    background-color: #000000;
    color: rgb(148, 143, 143);
    font-size: 20px;
}

.action-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.search-input {
    padding: 8px 15px;
    border: 1px solid #635e5e;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.search-form button {
    border: none;
    border-left: 1px solid rgba(168, 163, 163, 0.342);
    background-color: transparent;
    padding: 0px 30px;
    color: #ffffff;
}

.event-row {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.678);
    /* border-radius: 20px; */
    box-shadow: 8px 2px 10px rgba(0, 0, 0, 0.39);
    margin: 10px;
    height: 500px;
    width: 300px;
    padding: 5px;
    padding-bottom: 5px;
}

.event-row:hover {
    background-color: #d7d5db;
}

.flyer-cell {

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flyer-img {
    width: 100%;
    height: 100%;
}

.events_body {

    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 20px;


}